
#itemprice
{
font-weight: bold;
color: red;
}

/*#firstdivision
{
 width: 350px;
 height: 350px;
 margin-top: 5%;
 //background-color: red;
 margin-left:40px;
 text-align: center;
//margin between divisions
 float: left;
 margin-right:40px;
displays each division side by side
display: inline-block;
vertical-align: middle
}*/
#singlebar3
{
    margin-top:20px;
    margin-right:20%;
    margin-left: 40%;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
}
#singlebar4
{
    width: 30%;
    height:335px;
    display: inline-block;
    border-right: 10px;
    margin: 1%;
    text-align: center;
    /*background-color: red;*/
}
#singlebar img #singlebar1 img
{
width: 10%;
height: 160px;    
}