  .nav{
        width:100%;
        margin-left: 31%;
        margin-right: 30%;
        margin-top: 1px;
/*        display: inline-block;
        float: left;*/
    }
.nav ul {list-style:none;margin:0;padding:0}
.nav li {float:left; width:100px; background-color:green; text-align:center;font-size: 96%; 
          border-right:1px solid white;position:relative; list-style:none;
          height:30px;line-height:30px;}
.nav li ul li {float:none;width:96%;text-allign:left;padding-left:5px;
           border-top:1px solid white;}
.nav a {text-decoration:none;color:white;}
.nav li ul {position:absolute; top:30px; left:0; width:100%; visibility:hidden;}
.nav li:hover ul {visibility:visible;}

.nav li:hover {background-color:maroon;}

.content {clear:both;}
body{
    background-image:url("yellow.jpg");
}
/*#logo{
    margin-left:31%;
    margin-right:10%;
}*/
#one , #two , #three
{
    display: inline-block;
    background-color: green;
    color: white;
    height: 160px;
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    text-align: center;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
#frame
{
    margin-left: 31%;
    margin-right: 10%;
}
#whole
{
    margin-left: 30%;
    margin-right: 10%;
}
iframe
{
    width: 70%;
}
h1
{
    text-align: center;
}