
body
{
 //   background-image: url('images/background.jpg');
   background-color: whitesmoke; 
}

/*bo img
{
    width: 100%;height: 100%;
}*/


#logo
{
  display: inline-block;
  margin-left: 20%;
  float: left;
  width: 100px;
}
#logo img
{
    width: 100px;
    height: 100px;
    background-color: red;

}
        #tfheader{
            margin-left: 10%;
            margin-right: 17%;
            width: 35%;
            height: 70px;
            /*background-color:#c3dfef;*/
            display: inline-block;
            float: right;
              background-color: red;
margin-top: 1px;
	}
	#tfnewsearch{
            float: right;
           padding:20px;
	}
	.tftextinput{
		/*margin: 0;*/
                margin-top: 0px;
		padding: 4px 5px;
                padding-right: 5px;
                /*padding: 5px 5px;*/
                padding-left: 5px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:3px solid #0076a3;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
                border-bottom-right-radius: 5px 5px;
                border-top-right-radius: 5px 5px;
                
	}
	.tfbutton {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
                border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
                border-bottom-right-radius: 5px 5px;
                border-top-right-radius: 5px 5px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
/*menu bar css*/ 
a
{
text-decoration: none;
}
a:visited
{
    color: whitesmoke;
}

/*#menu
{
    display: inline-block;
    float: left;
    background-color: red;
    position: absolute;
          z-index: 10000;
          color: whitesmoke;

}
*/
table  
{
    width:150px;
      z-index: 10000;

}
th, td {
    width: 150px;
    color: whitesmoke;
}
th{background-color:#0095cd ;}
#totalmenu
{
   margin-left: 20%;
   margin-right: 20%;
   width:60%;
   height: 20px;
   /*border: 5px solid #0095cd;*/
   /*background-color: #0095cd;*/
}
table tr 
{
    text-align: center;
}
#bar
{
  margin-top: 100px;
  margin-left: 20%;
  margin-right: 20%; 
  width: 60%;
  height: 20px;
  background-color:#0095cd;
  color: whitesmoke;
  text-align: center;
  border-radius: 5px;
  position: fixed;  
  z-index: -1;

  
}

/*for both founditeminserach.jsp and menubaritemscript.js*/
/*#singlebar
{
    margin-top:20px;
    margin-right:20%;
    margin-left: 40%;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    display: block;
     float: left;
     border:2px solid #0095cd;
    
}
#singlebar1
{
    width: 30%;
    height:460px;
    border-right: 10px;
    margin: 1%;
    text-align: center;
    background-color: red;
    vertical-align: middle;
    display: inline-block;
    float: left;
}*/
/*#singlebar img #singlebar1 img
{
width: 10%;
height: 160px;    
}*/
/*#menuimage
{
    width: 100%;;
    height: 40%;
    background-color: green;
}
#menuimage img
{
    width:100%;
    height:100%;
}*/
/*cross line over text price*/
/*#itemprice1
{
    color: green;
    text-decoration: line-through;
}*/
/*button cod 2*/
/*.btn {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-family: Arial;
  color: #00000b;
  font-size: 13px;
  background: #FFCC00;
  padding: 9px 40px 8px 40px;
  border: solid #1f628d 2px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}
Found items in search jsp file's cod
#itemprice
{
font-weight: bold;
color: red;
}*/
/*sale image style*/
#discount
{
   margin-top: 140px;
  margin-left: 20%;
    width: 18%;
  display: block;
   position: absolute;
   z-index: -1;
}
#discount img
{
     border-right: 20px solid whitesmoke;
    width: 100%;
    height: 450px;
}
/*slide show images */
/*#slideShowImages
{
    margin-top:20px;
    margin-right: 20%;
    margin-left: 40%;
    display: inline-block;
    position: static;
}
#slideShowImages img
{
    width: 548px;
    height: 450px;
    position: static;
}*/
/*for link short description*/
/*#content
{
    height: 40%;
}
#footer
{
    color: white;
    text-align: center;
    

margin-top: 30px;
  margin-left: 20%;
  margin-right: 19%;  
  height: 20px;
  background-color:#0095cd;
  color: whitesmoke;
  text-align: center;
  border-radius: 5px;
}*/
